<center>

### Capítulo 1

</center>

##### ¿Qué es SQL?

La definición formal de **SQL** es **"Stuctured Query Language"**. Es un lenguaje de consulta y manipulación de datos que permite a los usuarios realizar 
operaciones de selección, creación, actualización y eliminación de datos en una base de datos relacional. SQL es un lenguaje de alto nivel, 
lo que significa que es fácil de leer y entender, y es capaz de realizar operaciones complejas de manera eficiente. 
SQL funciona sobre sistemas gestores de bases de datos "DBMS", como SQLite, PostgreSQL, MySQL, etc. Es como hablarle a la base de datos para que te entegre o manipule información.

Nosotros usaremos SQl en Python, ¿pero cómo? En python podemos interactuar con bases de datos usando módulos especializados, como
- `SQLite --> sqlite3(incluida en python)`
- `MySQL --> mysql.connector`
- `PostgreSQL --> psycopg2`

También podemos usar pandas junto con SQL para combinar poder de ambos mundos, es decir, podemos usar SQL para consultas de datos y pandas para manipularlos en Python.

##### Creación de una base de datos con python

Primero crearemos el archivo `mi_base.db` desde python, este codigo también nos permite a hacer la conexión con la base de datos.
Declaramos la variable `conn` y la inicializamos con el método `connect()` de la librería `sqlite3`.
```python
import sqlite3
conn = sqlite3.connect("mi_base.db") 
```

Ahora necesitamos crear una tabla en la base de datos, para esto usamos el método `cursor()` de la librería `sqlite3`. Este método nos permite crear un cursor, que nos permite ejecutar sentencias SQL en la base de datos.

```python
cursor = conn.cursor()
```
Ahora ya podemos escribir la sentencia SQL para crear la tabla, en este caso la tabla `empleados` con dos columnas: 
`id`, `nombre`, `edad`, `salario`, para ello usaremos una setencia de SQL. 

---
##### Crear una tabla en SQL 
La sintaxis que usaremos para crear una tabla en SQL es la siguiente: `CREATE TABLE IF NOT EXIST nombre_tabla`, con esto podemos crear una tabla si no existe, si existe crea otra. Además tenemos que ingresar paramétros a esta tabla, en este caso podemos hacer como el ejemplo siguiente:

```sql
CREATE TABLE IF NOT EXISTS empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,         -- Clave primaria autoincremental
    nombre TEXT NOT NULL,                         -- Texto obligatorio
    edad INTEGER CHECK (edad >= 18),              -- Edad debe ser mayor o igual a 18
    salario REAL DEFAULT 0.0,                     -- Valor por defecto: 0.0
    email TEXT UNIQUE,                            -- No se permiten correos repetidos
    fecha_ingreso TEXT DEFAULT CURRENT_DATE,      -- Fecha por defecto: día actual
    departamento_id INTEGER,                      -- Clave foránea
    FOREIGN KEY (departamento_id) REFERENCES departamentos(id)  -- Relación con otra tabla
);

```
---
#### Tipos de Datos Enteros
Los tipos de datos enteros se utilizan para almacenar números enteros (números sin componente fraccional). El tamaño de almacenamiento específico, el valor mínimo y el valor máximo pueden variar ligeramente según el sistema de base de datos SQL (por ejemplo, SQLite, MySQL, PostgreSQL, SQL Server). Sin embargo, los principios generales son los mismos.

| Tipo          | Almacenamiento (Bytes) | Valor Mínimo                 | Valor Máximo                  |
|---------------|------------------------|-----------------------------|------------------------------|
| TINYINT       | 1                      | -128                        | 127                          |
| SMALLINT      | 2                      | -32,768                     | 32,767                       |
| MEDIUMINT     | 3                      | -8,388,608                  | 8,388,607                    |
| INT / INTEGER | 4                      | -2,147,483,648              | 2,147,483,647                |
| BIGINT        | 8                      | -9,223,372,036,854,775,808 | 9,223,372,036,854,775,807   |
Nota: Algunas variantes de SQL también ofrecen tipos enteros UNSIGNED (sin signo), que solo almacenan valores no negativos y, de hecho, duplican el rango positivo. Por ejemplo, un TINYINT UNSIGNED podría ir de 0 a 255.
#### Tipos de Datos Reales (Números de Punto Flotante)
Los tipos de datos reales, también conocidos como tipos de punto flotante, se utilizan para almacenar números con decimales. Estos tipos son aproximaciones, lo que significa que pueden no almacenar el valor exacto, sino una representación muy cercana. Esto puede ser importante para cálculos financieros donde la precisión es primordial; para tales casos, a menudo se prefieren los tipos DECIMAL o NUMERIC (que almacenan valores exactos).

| Tipo                  | Almacenamiento (Bytes) | Descripción                                                                                          | Precisión Típica        |
|-----------------------|------------------------|----------------------------------------------------------------------------------------------------|------------------------|
| REAL / FLOAT          | 4                      | Número de punto flotante de precisión simple. Bueno para cálculos científicos o de ingeniería generales donde la precisión exacta no es crítica. | ~7 dígitos decimales   |
| DOUBLE / DOUBLE PRECISION | 8                      | Número de punto flotante de doble precisión. Ofrece mayor precisión que REAL o FLOAT.               | ~15 dígitos decimales  |


#### Otros Tipos de Datos Comunes en SQL
Aunque los números enteros y reales son fundamentales, SQL ofrece un amplio conjunto de otros tipos de datos para diversos propósitos:

| Tipo                  | Descripción                                                                                                                  |
|-----------------------|------------------------------------------------------------------------------------------------------------------------------|
| TEXT                  | Se utiliza para almacenar cadenas de caracteres de longitud variable. Ejemplos incluyen nombres, direcciones o descripciones. La longitud máxima puede variar según el sistema de base de datos, pero generalmente es muy grande. |
| BLOB                  | Acrónimo de "Binary Large Object" (Objeto Binario Grande). Se utiliza para almacenar datos binarios como imágenes, archivos de audio u otros elementos multimedia. Es esencialmente una secuencia de bytes. |
| BOOLEAN               | Almacena valores de verdad, típicamente representados como TRUE o FALSE. Algunos sistemas pueden usar 1 para verdadero y 0 para falso, o incluso permitir NULL. |
| DATE                  | Almacena una fecha del calendario (por ejemplo, 'AAAA-MM-DD').                                                                |
| TIME                  | Almacena una hora del día (por ejemplo, 'HH:MM:SS').                                                                           |
| DATETIME / TIMESTAMP  | Almacena tanto una fecha como una hora. TIMESTAMP a menudo incluye información de zona horaria y puede actualizarse automáticamente. |
| DECIMAL(P, S) / NUMERIC(P, S) | Se utiliza para almacenar valores numéricos exactos. P representa el número total de dígitos (precisión) y S el número de dígitos después del punto decimal (escala). Crucial para cálculos financieros donde la precisión es vital. |

---
##### Crear una tabla en SQL usando python

Ya tenemos todo lo necesario para crear una tabla teniendo ya la base de datos `mi_base.db` y el cursor `cursor` creado anteriormente. 
Para crear la tabla `empleados` usaremos la sentencia SQL anteriormente escrita, y la ejecutaremos con el método `execute()` del cursor que nos permitirá ejecutar sentencias SQL en la base de datos. 
```python
cursor.execute('''
    CREATE TABLE IF NOT EXISTS empleados (
        id INTEGER PRIMARY KEY,
        nombre TEXT,
        edad INTEGER,
        salario REAL
    )
''')
```

In [2]:
import sqlite3


#Crear una conexión a la base de datos SQLite (o conectar a una existente).
conn = sqlite3.connect("mi_base.db")
cursor = conn.cursor()

# Crear una tabla si no existe

cursor.execute('''
    CREATE TABLE IF NOT EXISTS empleados (
        id INTEGER PRIMARY KEY,
        nombre TEXT,
        edad INTEGER,
        salario REAL
    )
''')

#### Agregar datos a una tabla de SQL desde python

Todo lo que hicimos anteriormente es al ejecutar el código anterior creamos un `mi_base.db` que es un archivo de SQL donde consultaremos nuestra data y en el codigo después pudimos crear una tabla de empleados, en las que tiene un id, nombre y salario, simulando que vamos a meter a todos nuestros empleados en la base de datos que récien acabamos de realizar. Ahora, es obvio que nuestra base de datos se encuentra totalmente vacía en este punto, entonces desde python agregaremos datos a nuestra base de datos.

In [7]:
cursor.execute("INSERT INTO empleados(nombre, edad, salario) VALUES('Miguel', 30, 3000.00)")
conn.commit() #Guardar los cambios
conn.close() #Cerrar la conexión a la base de datos

Si queremos agregar muchos datos al mismo tiempo, podemos usar el siguiente código:

In [ ]:
#Insertar algunos datos en la tabla empleados

cursor.executemany('''
    INSERT INTO empleados (nombre, edad, salario) VALUES (?, ?, ?)
''', [ 
    ("Ana",30,40000.0),
    ("Luis", 25, 38000.0),
    ("Sofía", 35, 52000.0),
    ("Pedro", 28, 45000.0),
])
conn.commit() #Guardar los cambios
conn.close() #Cerrar la conexión a la base de datos

#### DROP TABLE

Si nosotros queremos borrar una tabla, lo que debemos hacer es utilizar la siguiente sentencia:

```SQL
DROP TABLE nombre_tabla;
```