<center>

### Capítulo 1

</center>

##### ¿Qué es SQL?

La definición formal de **SQL** es **"Stuctured Query Language"**. Es un lenguaje de consulta y manipulación de datos que permite a los usuarios realizar 
operaciones de selección, creación, actualización y eliminación de datos en una base de datos relacional. SQL es un lenguaje de alto nivel, 
lo que significa que es fácil de leer y entender, y es capaz de realizar operaciones complejas de manera eficiente. 
SQL funciona sobre sistemas gestores de bases de datos "DBMS", como SQLite, PostgreSQL, MySQL, etc. Es como hablarle a la base de datos para que te entegre o manipule información.

Nosotros usaremos SQl en Python, ¿pero cómo? En python podemos interactuar con bases de datos usando módulos especializados, como
- `SQLite --> sqlite3(incluida en python)`
- `MySQL --> mysql.connector`
- `PostgreSQL --> psycopg2`

También podemos usar pandas junto con SQL para combinar poder de ambos mundos, es decir, podemos usar SQL para consultas de datos y pandas para manipularlos en Python.

##### Creación de una base de datos con python

Primero crearemos el archivo `mi_base.db` desde python, este codigo también nos permite a hacer la conexión con la base de datos.
Declaramos la variable `conn` y la inicializamos con el método `connect()` de la librería `sqlite3`.
```python
import sqlite3
conn = sqlite3.connect("mi_base.db") 
```

Ahora necesitamos crear una tabla en la base de datos, para esto usamos el método `cursor()` de la librería `sqlite3`. Este método nos permite crear un cursor, que nos permite ejecutar sentencias SQL en la base de datos.

```python
cursor = conn.cursor()
```
Ahora ya podemos escribir la sentencia SQL para crear la tabla, en este caso la tabla `empleados` con dos columnas: 
`id`, `nombre`, `edad`, `salario`, para ello usaremos una setencia de SQL. 

---
##### Crear una tabla en SQL 
La sintaxis que usaremos para crear una tabla en SQL es la siguiente: `CREATE TABLE IF NOT EXIST nombre_tabla`, con esto podemos crear una tabla si no existe, si existe crea otra. Además tenemos que ingresar paramétros a esta tabla, en este caso podemos hacer como el ejemplo siguiente:

```sql
CREATE TABLE IF NOT EXISTS empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,         -- Clave primaria autoincremental
    nombre TEXT NOT NULL,                         -- Texto obligatorio
    edad INTEGER CHECK (edad >= 18),              -- Edad debe ser mayor o igual a 18
    salario REAL DEFAULT 0.0,                     -- Valor por defecto: 0.0
    email TEXT UNIQUE,                            -- No se permiten correos repetidos
    fecha_ingreso TEXT DEFAULT CURRENT_DATE,      -- Fecha por defecto: día actual
    departamento_id INTEGER,                      -- Clave foránea
    FOREIGN KEY (departamento_id) REFERENCES departamentos(id)  -- Relación con otra tabla
);

```

---
##### Crear una tabla en SQL usando python

Ya tenemos todo lo necesario para crear una tabla teniendo ya la base de datos `mi_base.db` y el cursor `cursor` creado anteriormente. 
Para crear la tabla `empleados` usaremos la sentencia SQL anteriormente escrita, y la ejecutaremos con el método `execute()` del cursor que nos permitirá ejecutar sentencias SQL en la base de datos. 
```python
cursor.execute('''
    CREATE TABLE IF NOT EXISTS empleados (
        id INTEGER PRIMARY KEY,
        nombre TEXT,
        edad INTEGER,
        salario REAL
    )
''')
```

In [3]:
import sqlite3


#Crear una conexión a la base de datos SQLite (o conectar a una existente).
conn = sqlite3.connect("mi_base.db")
cursor = conn.cursor()

# Crear una tabla si no existe

cursor.execute('''
    CREATE TABLE IF NOT EXISTS empleados (
        id INTEGER PRIMARY KEY,
        nombre TEXT,
        edad INTEGER,
        salario REAL
    )
''')

#### Agregar datos a una tabla de SQL desde python

Todo lo que hicimos anteriormente es al ejecutar el código anterior creamos un `mi_base.db` que es un archivo de SQL donde consultaremos nuestra data y en el codigo después pudimos crear una tabla de empleados, en las que tiene un id, nombre y salario, simulando que vamos a meter a todos nuestros empleados en la base de datos que récien acabamos de realizar. Ahora, es obvio que nuestra base de datos se encuentra totalmente vacía en este punto, entonces desde python agregaremos datos a nuestra base de datos.

In [4]:
#Insertar algunos datos en la tabla empleados

cursor.executemany('''
    INSERT INTO empleados (nombre, edad, salario) VALUES (?, ?, ?)
''', [ 
    ("Ana",30,40000.0),
    ("Luis", 25, 38000.0),
    ("Sofía", 35, 52000.0),
    ("Pedro", 28, 45000.0),
])
conn.commit() #Guardar los cambios
conn.close() #Cerrar la conexión a la base de datos